<div class="flex h-screen text-center bg-green-500">
  <div class="m-auto">
    <h2 class="text-2xl text-white font-semibold uppercase">
      Ah ah ah! You didn't say the magic word!
    </h2>

    <img class="m-auto py-6" src="/assets/image/ahahah.png" alt="Juarassic Park Unix System">

    <small class="text-white">Image sourced from <a class="text-blue-600 underline" href="http://www.jurassicsystems.com/">www.jurassicsystems.com</a></small>
  </div>
</div>
