<div class="flex h-screen text-center">
  <div class="m-auto pb-16">
    <h2 class="text-5xl">{{code}}</h2>
    <h4 class="text-xl text-gray-600">{{message}}</h2>
    <a type="button" class="mt-8 bg-green-600 text-white text-base font-semibold py-2 px-4 rounded-lg shadow-md hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 focus:ring-offset-green-200" href="/">Back to Homepage</a>
  </div>
</div>
